################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XRCultureViewer/.vs/XRCultureViewer
/XRCultureViewer/XRCultureViewer/bin
/XRCultureViewer/XRCultureViewer/obj
/XRCultureViewer/.vs/ProjectEvaluation
/MeshLabServer/.vs/MeshLabServer
/MeshLabServer/MeshLabServer/bin
/MeshLabServer/MeshLabServer/obj
/XRCulture3DReconstruction/.vs/XRCulture3DReconstruction
/MeshLabServer/.vs/ProjectEvaluation
/XRCulture3DReconstruction/XRCulture3DReconstruction/bin
/XRCulture3DReconstruction/XRCulture3DReconstruction/obj
/XRCultureHub/.vs/XRCultureHub
/XRCultureHub/XRCultureHub/bin
/XRCultureHub/XRCultureHub/obj
/XRCulture3DReconstruction/.vs/ProjectEvaluation
/XRCultureHub/.vs/ProjectEvaluation
/XRCultureServices/.vs/XRCultureServices
/XRCultureServices/XRCultureServices/bin
/XRCultureServices/XRCultureServices/obj
/Tools/XRCultureRegisterTool/.vs/XRCultureRegisterTool
/Tools/XRCultureRegisterTool/XRCultureRegisterTool/bin
/Tools/XRCultureRegisterTool/XRCultureRegisterTool/obj
/Tools/XRCultureTestServicesTool/.vs/XRCultureTestServicesTool
/Tools/XRCultureTestServicesTool/XRCultureTestServicesTool/bin
/Tools/XRCultureTestServicesTool/XRCultureTestServicesTool/obj
