################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XRCultureViewer/.vs/XRCultureViewer
/XRCultureViewer/XRCultureViewer/bin
/XRCultureViewer/XRCultureViewer/obj
/XRCultureViewer/.vs/ProjectEvaluation
