################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XRCultureViewer/.vs/XRCultureViewer
/XRCultureViewer/XRCultureViewer/bin
/XRCultureViewer/XRCultureViewer/obj
/XRCultureViewer/.vs/ProjectEvaluation
/MeshLabServer/.vs/MeshLabServer
/MeshLabServer/MeshLabServer/bin
/MeshLabServer/MeshLabServer/obj
/XRCulture3DReconstruction/.vs/XRCulture3DReconstruction
/MeshLabServer/.vs/ProjectEvaluation
/XRCulture3DReconstruction/XRCulture3DReconstruction/bin
/XRCulture3DReconstruction/XRCulture3DReconstruction/obj
