@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">REST API</h1>
    <p>REST API to access the XR Culture services</p>
    <h4>End-points:</h4>
    <ul>
        <li><a href="/Filters">/Filters</a> - Apply MeshLab filters to a model</li>
    </ul>
</div>
