@page
@model XRCultureViewer.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Access Denied</h1>
    <p>You do not have permission to access this resource.</p>
    <a class="btn btn-primary" asp-page="/Index">Return to Home</a>
</div>